<!-- <h3 style="color: whire;">Hello from Messages live!</h3> -->

<%#= turbo_frame_tag "message_#{message.id}", class: 'message-container' do %>
  <!-- <div class="message-content"> -->
    <!-- <div class="message-details"> -->
      <!-- <span class="user-email"><%#= message.user.first_name %></span> -->
      <!-- <span class="message-text"><%#= message.text %></span> -->
    <!-- </div> -->

    <!-- <div class="message-actions"> -->
      <%#= link_to edit_room_message_path(message, room_id: message.room), class:'edit-button' do %>
       <!-- Edit -->
      <%# end %>
      <%#= button_to room_message_path(message.room, message), method: :delete, class:'delete-button' do %>
        <!-- Delete -->
      <%# end %>
    <!-- </div> -->
  <!-- </div> -->
<%# end %>

<%= turbo_frame_tag "message_#{message.id}", class: 'message-container' do %>
<div>
  <h4 class="fecha">24 de Julio</h4>
  <!-- mensaje comprador -->
    <div class="tus-mensajes">
      <% if  current_user.first_name == message.user.first_name %>
        <h1><%= message.user.first_name %></h1>
          <p class="tu-mensaje"><%= message.text %></p>
          <div class="foto-hora-mensaje">
            <%= image_tag "Contenido/Imágen.svg" %>
            <p class="hora-mensaje"><%= time_ago_in_words message.created_at %></p>
          </div>
      <div class="message-actions">
        <%= link_to edit_room_message_path(message, room_id: message.room), class:'edit-button' do %>
          Edit
        <% end %>
        <%= button_to room_message_path(message.room, message), method: :delete, class:'delete-button' do %>
          Delete
        <% end %>
      </div>
    </div>
     <!-- mensaje vendero -->
      <% else %>
        <div class="mensajes-vendedor">
        <h1><%= message.user.first_name %></h1>

          <div class="foto-hora-mensaje-vendedor">
            <%= image_tag "Contenido/Imágen.svg" %>
            <p class="hora-mensaje"><%= message.created_at %></p>
          </div>
          <p class="su-mensaje"><%= message.text %></p>
        </div>
        <div class="message-actions">
        <%= link_to edit_room_message_path(message, room_id: message.room), class:'edit-button' do %>
          Edit
        <% end %>
        <%= button_to room_message_path(message.room, message), method: :delete, class:'delete-button' do %>
          Delete
        <% end %>
      </div>
      <% end %>
</div>
<% end %>
