<div class="body-chat">
  <h4 class="chat-date">24 de Julio</h4>
  
  <% if message.user.first_name == current_user.nil? %>
  <div class="your-messages">
    <%= current_user.first_name %>
    <p class="your-message"><%= message.text %></p>

    <div class="image-time-message">
      <%= image_tag "Contenido/Imágen.svg" %>
      <p class="message-time"><%= time_ago_in_words message.created_at %></p>
    </div>
  </div>
  <% else %>
  <div class="seller-messages">
  <%= message.user.first_name %>
    <div>
      <%= image_tag "Contenido/Imágen.svg", class: "icon-image"%>
      <p class="message-time"><%= time_ago_in_words message.created_at %></p>
    </div>
    <p ><%= message.text %></p>
  </div>
  <% end %>
</div>
