<div class="cuerpo-chat">
  <h4 class="fecha">24 de Julio</h4>
  
  <% if message.user.first_name == current_user.first_name || current_user.nil? %>
  <div class="tus-mensajes">
    <%= current_user.first_name %>
    <p class="tu-mensaje"><%= message.text %></p>

    <div class="foto-hora-mensaje">
      <%= image_tag "Contenido/Imágen.svg" %>
      <p class="hora-mensaje"><%= time_ago_in_words message.created_at %></p>
    </div>
  </div>
  <% else %>
  <div class="mensajes-vendedor">
  <%= message.user.first_name %>
    <div class="foto-hora-mensaje-vendedor">
      <%= image_tag "Contenido/Imágen.svg" %>
      <p class="hora-mensaje"><%= time_ago_in_words message.created_at %></p>
    </div>
    <p ><%= message.text %></p>
  </div>
  <% end %>
</div>
