<%= turbo_frame_tag "frame1" do %>
  <div class="alert-box signin-box">
    <div>
      <%= image_tag "maple-leaf.jpg" %>
    </div>

    <div class="signin-box-form">
      <%= link_to "Crear Cuenta", new_account_auth_path, method: :get, style: "color: green; text-decoration: underline 2px;" %>

      <p class="text-2xl text-gray-900 font-medium mb-3">¿Cuál es tu teléfono?</p>
      <%= form_with(url: auth_path, html: { data: { turbo: false } }) do |f| %>
        <%= f.phone_field :phone, placeholder: "333333333", class: "" %>
        <div class="signin-button">
          <%= f.submit "Continue", data: { turbo_frame: "frame1"} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
