<div class="leading-relaxed text-lg text-gray-600">
  We just send you a six digit code to your phone, please enter it in the box below.
</div>

<%= form_with(url: auth_verifications_path) do |f| %>
  <%= f.label :phone, class: "flex items-center justify-between text-sm font-medium text-gray-700 mb-1" do %>
    Phone
    <%= link_to "Change", auth_path, class: "text-gray-500 underline font-normal" %>
  <% end %>
  <%#= f.telephone_field :phone, value: @phone, placeholder: "3333333333", class: "w-full rounded-md border-gray-300 bg-gray-100", disabled: true %>
  <%= f.telephone_field number_to_phone(@phone), placeholder: @phone %>


  <%= f.label :phone, class: "flex items-center justify-between text-sm font-medium text-gray-700 mb-1 mt-3" do %>
    Auth code
    <%= link_to "Re-send code", auth_path(phone: @phone), method: :post, class: "text-gray-500 underline font-normal" %>
  <% end %>
  <%= f.text_field :auth_code, class: "w-full rounded-md border-gray-300 text-2xl tracking-widest text-center", maxlength: 6 %>

  <%= f.submit "Continue to your account", class: "w-full cursor-pointer flex relative justify-center items-center py-2 px-4 rounded-md font-medium leading-6 focus:outline-none transition-colors duration-150 ease-in-out border border-transparent text-white bg-pink-600 hover:bg-pink-500 focus:border-pink-300 focus:shadow-outline-gray mt-3" %>
<% end %>