<%
  @icons = {
    'vehículos' => 'Contenido/Odin/Vehículos.svg',
    'inmuebles' => 'Contenido/Odin/Inmuebles.svg',
    'alquiler' => 'Contenido/Odin/Alquiler.svg',
    'servicios' => 'Contenido/Odin/Servicios.svg',
    'Electrónica' => 'Contenido/Odin/Electrónica.svg',
    'tecnología' => 'Contenido/Odin/Tecnología.svg',
    'muebles' => 'Contenido/Odin/Muebles.svg',
    'deportes' => 'Contenido/Odin/Deportes.svg',
    'belleza' => 'Contenido/Odin/Belleza.svg',
    'niños' => 'Contenido/Odin/Niños.svg',
    'libros' => 'Contenido/Odin/Libros.svg',
    'mascotas' => 'Contenido/Odin/Mascotas.svg',
    'empleos' => 'Contenido/Odin/Empleos.svg',
    'experimentos' => 'Contenido/Odin/Experimentos.svg'
  }
%>

<section id="busqueda" class="seccion-busqueda">
  <div class="search-section">
    <div class="logo">
    <%= link_to image_tag("buhologo.webp", alt: "odin-logo", width: "30", height: "30"), root_path %>
    </div>
    
    <div class="input-box">
      <%= text_field_tag :search, nil, placeholder: "Buscar", id: "search-bar" %>
      <i class="icon-search"></i>
    </div>
    
    <header>
      <div class="container"> 
        <nav class="navbar">
          <ul class="nav-menu ">
          <% if user_signed_in? %>
              <li class="nav-item "><%= button_to "LOGOUT", sessions_destroy_path, method: :delete, data: { confirm: "¿Estás seguro de que deseas cerrar sesión?" }, style: "color: #9a0505;" %></li>
              <li class="nav-item "><%= link_to "Chat", rooms_path, class: "boton-verde" %></li>
              <li class="nav-item boton-azul"><%= link_to "¡Quiero vender!", new_product_path, class: " nav-link"%></li>
            <% else %>
              <li class="nav-item "><%= button_to "Iniciar sesión", auth_path, method: :get, class: "boton-verde nav-link", id: "registrarse-boton" %></li>
              <li class="nav-item "><%= button_to "Crear Cuenta", new_account_auth_path, method: :get, class: "boton-azul nav-link", id: "registrarse-boton" %></li>
            <% end %>
          </ul>

          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </div>
    </header>
  </div>

    <article id="categorias" class="categorias">
      <div id="categorias-box" class="categorias-box">
        <% @icons.each do |icon| %>
          <div class="categorias-item-box">
            <div class="categorias-item">
              <%= link_to products_path(category_name: icon.first) do %>
                <%= image_tag icon.second, alt: icon.first, data: { turbo_frame: "frame1"} %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </article>
</section>
