<div id="modal" class="modal">
  <div class="modal-content">
    <%= image_tag "Contenido/Cerrar.svg", id: "x-cerrar-alerta", id: "closeModal", class: "close" %>

    <%= form_with(url: leads_path, method: :post, id: 'leadForm', class: 'form') do |f| %>
      <%= f.label :first_name, 'Name:' %>
      <%= f.text_field :first_name, required: true %><br>

      <%= f.label :phone, 'Cell:' %>
      <%= f.text_field :phone, required: true %><br>

      <%= f.label :email, 'Email:' %>
      <%= f.email_field :email, required: true %><br>

      <%= f.hidden_field :product_id, id: 'product' %>

      <%= f.button 'Post', class: 'button-popup' %>
    <% end %>
  </div>
</div>