<%= turbo_frame_tag "frame1" do %>
  <div class="products" id="products">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to product_path(product), class: "product-link" do %>
          <div class="image">
            <% if product.images.attached? %>
                <%= image_tag product.images.first, class: "product-image", alt: product.name, width: "300", height: "200" %>
            <% else %>
              <img src="https://a0.muscache.com/im/pictures/miso/Hosting-839082319949828593/original/b239acdd-8dbf-403e-bad4-fa8e05b94b44.jpeg?im_w=720" alt="Default Image" >
            <% end %>
          </div>
          <div class="header-item">
            <h4><%= product.name %></h4>
            <p><%= product.user.first_name %></p>
            <p><%= product.created_at.strftime("%B %e, %Y %l:%M %p") %></p>
          </div>
          <div class="price-information">
            <span><%= number_to_currency(product.price) %> COP</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
