<section class="main-banner">
  <div class="banner-home">
  <%= image_tag "Contenido/Odin/Banner.png" %>
    <div class="banner-presentacion">
        <h1>¡Tenemos lo que quieres!</h1>
        <p>Solo busca lo que necesitas, dale clic a "<strong>más información</strong>"
            y descubre una variedad de opciones para lo que estas buscando.
        </p>
        <%= link_to new_product_path, class: "boton-azul" do %>
            ¡Quiero vender!
        <% end %>
    </div>
  </div>
</section>

<section id="busqueda" class="seccion-busqueda">
  <div class="input-box">
    <input type="text" placeholder="Buscar">
      <i class="icon-search"></i>
    </div>
  <article id="categorias" class="categorias">
    <div id="categorias-box" class="categorias-box">
      <% @icons.each do |icon| %>
        <div class="categorias-item-box">
          <div class="categorias-item">
          <%= link_to products_path(category_name: icon.first) do %>
            <%= image_tag icon.second, alt: icon.first %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </article>
</section>

<div class="productos" id="productos">
  <% @products.each do |product| %>
    <div class="producto-item">
      <div class="header-item">
        <%= image_tag "Contenido/Compartir 2.svg", class: "compartir" %>
        <%= product.name %>
      </div>

      <div class="imagen">
        <% if product.images.attached? %>
          <% product.images.each do |image| %>
            <%= image_tag image, class: "product-image", alt: product.name %>
          <% end %>
        <% else %>
          <!-- Fallback image if no image is attached -->
          <img src="https://falabella.scene7.com/is/image/FalabellaCO/881653694_1?wid=800&hei=800&qlt=70" alt="Default Image">
        <% end %>
      </div>

      <div class="resenas">
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <i class="icon-star-empty"></i>
        <span>546 reseñas</span>
      </div>
      <div class="precio-info">
        <span><%= product.price %></span>
        <button class="btn showModalButton" data-product-id="<%= product.id %>">Más información</button>
          <%= render "welcome/lead", locals: { product_id: product.id }  %>
      </div>
    </div>
  <% end %>
</div>



<section id="elegirnos" class="seccion-por-que-elegirnos">
  <h2>¿Por qué comprar en Odín?</h2>
  <div class="por-que-elegirnos-content">
      <div class="item-razones-para-comprar">
          <%= image_tag "Contenido/Odin/Precios bajos.svg" %>
          <h3>Precios más bajos</h3>
          <p>
              Encuentra productos con los precios más bajos que puedas imaginar
          </p>
      </div>
      <div class="item-razones-para-comprar">
          <%= image_tag "Contenido/Odin/Sostenibilidad.svg" %>
          <h3>Sostenibilidad</h3>
          <p>Comprar de segunda mano contribuye a la sostenibilidad ambiental</p>
      </div>
      <div class="item-razones-para-comprar">
          <%= image_tag "Contenido/Odin/Seguridad.svg" %>
          <h3>Seguridad</h3>
          <p>Los números de los vendedores son verificados para mayor seguridad</p>
      </div>
      <div class="item-razones-para-comprar">
          <%= image_tag "Contenido/Odin/Variedad.svg" %>
          <h3>Variedad</h3>
          <p>Encuentra desde una casa hasta un empleo. Aquí tenemos de todo</p>
      </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const showModalButtons = document.querySelectorAll('.showModalButton');
    const modal = document.getElementById('modal');
    const closeModal = document.getElementById('closeModal');
    const productInput = document.getElementById('product');

    showModalButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        modal.style.display = 'block';

        const productId = button.getAttribute('data-product-id');
        productInput.value = productId;
      });
    });

    closeModal.addEventListener('click', function () {
      modal.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    });
  });
</script>