<!--
<section class="main-banner">
  <div class="banner-home">
  <%= image_tag "Contenido/Odin/Banner.png" %>
    <div class="banner-presentacion">
        <h1>Compra y Vende en Línea con Odin</h1>
        <p>
        Descubre un mundo de oportunidades. Compra y vende fácilmente con Odin. Encuentra el auto de tus sueños, el negocio perfecto y mucho más. Conéctate con compradores y vendedores confiables. Tu próxima aventura comienza aquí.
        </p>
        <%= link_to new_product_path, class: "boton-azul" do %>
            ¡Quiero vender!
        <% end %>
    </div>
  </div>
</section>
-->

<div class="productos" id="productos">
  <% @products.each do |product| %>
    <div class="producto-item">
      <div class="imagen">
        <% if product.images.attached? %>
          <% product.images.each do |image| %>
            <%= image_tag image, class: "product-image", alt: product.name %>
          <% end %>
        <% else %>
          <img src="https://falabella.scene7.com/is/image/FalabellaCO/881653694_1?wid=800&hei=800&qlt=70" alt="Default Image">
        <% end %>
      </div>
      <div class="header-item">
        <%= image_tag "Contenido/Compartir 2.svg", class: "compartir" %>
        <%= product.name %>
      </div>
      <div class="precio-info">
        <span><%= product.price %></span>
        <button class="btn showModalButton" data-product-id="<%= product.id %>">Más información</button>
          <%= render "welcome/lead", locals: { product_id: product.id }  %>
      </div>
    </div>
  <% end %>
</div>

<section id="elegirnos" class="seccion-por-que-elegirnos">
  <h2>¿Por qué comprar en Odín?</h2>
  <div class="por-que-elegirnos-content">
    <div class="item-razones-para-comprar">
      <%= image_tag "Contenido/Odin/Precios bajos.svg", loading: "lazy" %>
      <h3>Precios más bajos</h3>
      <p>
        Encuentra productos con los precios más bajos que puedas imaginar
      </p>
    </div>
    <div class="item-razones-para-comprar">
      <%= image_tag "Contenido/Odin/Sostenibilidad.svg", loading: "lazy" %>
      <h3>Sostenibilidad</h3>
      <p>Comprar de segunda mano contribuye a la sostenibilidad ambiental</p>
    </div>
    <div class="item-razones-para-comprar">
      <%= image_tag "Contenido/Odin/Seguridad.svg", loading: "lazy" %>
      <h3>Seguridad</h3>
      <p>Los números de los vendedores son verificados para mayor seguridad</p>
    </div>
    <div class="item-razones-para-comprar">
      <%= image_tag "Contenido/Odin/Variedad.svg", loading: "lazy" %>
      <h3>Variedad</h3>
      <p>Encuentra desde una casa hasta un empleo. Aquí tenemos de todo</p>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const showModalButtons = document.querySelectorAll('.showModalButton');
    const modal = document.getElementById('modal');
    const closeModal = document.getElementById('closeModal');
    const productInput = document.getElementById('product');

    showModalButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        modal.style.display = 'block';

        const productId = button.getAttribute('data-product-id');
        productInput.value = productId;
      });
    });

    closeModal.addEventListener('click', function () {
      modal.style.display = 'none';
    });

    window.addEventListener('click', function (event) {
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    });
  });
</script>