<div>
  <div class="header-ad" style="max-height=150px">
    <%= image_tag 'odin_online.jpg', class:"mySlides", style:"width:100%"%>
    <%= image_tag 'odin_online1.jpg', class:"mySlides", style:"width:100%"%>
  </div>
  <div class="cat-area">
    <h2>Todas la categorias</h2>
    <div>
      <div class="cat-card">
        <%= image_tag 'mobile.png', class:"cat-card"%>
        <p>Mobiles</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'car.png', class:"cat-card"%>
        <p>Vehiculos</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'property.png', class:"cat-card"%>
        <p>Propiedades</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'rental.png', class:"cat-card"%>
        <p>Alquileres</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'electro.png', class:"cat-card"%>
        <p>Electronica</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'bikes.png', class:"cat-card"%>
        <p>Bicicletas</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'business.png', class:"cat-card"%>
        <p>Empresas</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'services.png', class:"cat-card"%>
        <p>Servicios</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'jobs.png', class:"cat-card"%>
        <p>Empleos</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'pets.png', class:"cat-card"%>
        <p>Mascotas</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'furniture.png', class:"cat-card"%>
        <p>Muebles</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'books.png', class:"cat-card"%>
        <p>Libros</p>
      </div>
      <div class="cat-card">
        <%= image_tag 'kids.png', class:"cat-card"%>
        <p>Niños</p>
      </div>
    </div>
  </div>
  <div class="clasifieds-cards-area">
    <h2>Telefonos celulares</h2>
    <div>
      <div class="ad-card">
        <div>
          <%= image_tag 'motorola1.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Kia Picanto</p>
        </div>
        <div class="location">
          <p>Bucaramanga, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'motorola1.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Motorola E40</p>
        </div>
        <div class="location">
          <p>Bucaramanga, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'motorola1.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Motorola E40</p>
        </div>
        <div class="location">
          <p>Bucaramanga, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'motorola1.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Motorola E40</p>
        </div>
        <div class="location">
          <p>Bucaramanga, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clasifieds-cards-area">
    <h2>Automoviles</h2>
    <div>
      <div class="ad-card">
        <div>
          <%= image_tag 'picanto.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Kia Picanto</p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'picanto.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Kia Picanto</p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'picanto.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Kia Picanto</p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'picanto.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Kia Picanto</p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clasifieds-cards-area">
    <h2>Bikes</h2>
    <div>
      <div class="ad-card">
        <div>
          <%= image_tag 'bike.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Honda Navi </p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'bike.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Honda Navi </p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'bike.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Honda Navi </p>
        </div>
        <div class="location">
          <p>Cartagena, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
      <div class="ad-card">
        <div>
          <%= image_tag 'bike.jpg' %>
        </div>
        <div>
          <p class="pricing">COP  $ 1.500.000
            <span class="heart-icon"> <i class="fa-regular fa-heart"></i></span>
          </p>
        </div>
        <div class="ad-desc">
          <p>Honda Navi </p>
        </div>
        <div class="location">
          <p>Bucaramanga, Colombia. </p>
          <p class="small-txt">1 semana atras</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-link-img container">
  <%= image_tag 'banner.jpg', class:"bottom-link-img container" %>
</div>
<div class="container">
  <div class="footer">
    <div class="footer-column">
      <p class="footer-links-head"><strong>Categorias Populares</strong></p>
      <ul>
        <li class="footer-links">Autos</li>
        <li class="footer-links">Casas Alquiler</li>
        <li class="footer-links">Celulares</li>
        <li class="footer-links">Electronica</li>
      </div>
      <div class="footer-column">
        <p class="footer-links-head"><strong>Lo mas buscado</strong></p>
        <ul>
          <li class="footer-links">Autos</li>
          <li class="footer-links">Casas Alquiler</li>
          <li class="footer-links">Celulares</li>
          <li class="footer-links">Electronica</li>
          <li class="footer-links">Trabajos</li>
        </ul>
      </div>
      <div class="footer-column">
        <p class="footer-links-head"><strong>Acerca de nosotros</strong></p>
        <ul>
          <li class="footer-links">FAQ</li>
          <li class="footer-links">Odin Jobs</li>
          <li class="footer-links">Quienes somos</li>
        </ul>
      </div>
      <div class="footer-column">
        <p class="footer-links-head"><strong>ODIN Store</strong></p>
        <ul>
          <li class="footer-links">Contactos</li>
          <li class="footer-links">Ayuda</li>
          <li class="footer-links">Preguntas frecuentes</li>
          <li class="footer-links">Terminos & condiciones</li>
        </ul>
      </div>
      <div class="footer-column footer-column2">
        <p class="footer-links-head"><strong>FOLLOW US</strong></p>
        <div>
          <span class="social-footer-links"> <i class="fa-brands fa-facebook fa-2xl"></i></span>
          <span class="social-footer-links"> <i class="fa-brands fa-instagram fa-2xl"></i></span>
          <span class="social-footer-links"> <i class="fa-brands fa-twitter fa-2xl"></i></span>
          <span class="social-footer-links"> <i class="fa-brands fa-youtube fa-2xl"></i></span>
        </div>
        <div class="app-logo">
          <%= image_tag 'mac.jpg', class:"img-footer"%>
          <%= image_tag 'playstore.jpg', class:"img-footer"%>
          <%= image_tag 'galleryapp.jpg', class:"img-footer"%>
        </div>
      </div>
    </div>
    <div class="footer-credit-bg">
      <div class="footer-credit footer-credit-p">
        <p class="footer-credit"><strong class="credit-footer-p">Clasificado gratis en Colombia</strong> &copy; 2023</p>
      </div>
    </div>
  </div>
