<h4 class="section-title"><%= title %></h4>

<div data-controller="form" class="form-container">
  <%= form_with(model: room, class: 'form-content', data: { controller: 'form', action: 'submit->form#resetComponent' }) do |form| %>
    <% if room.errors.any? %>
      <div class="error-message">
        <h2 class="error-title">An error occurred while saving it.</h2>
        <ul class="error-list">
          <% room.errors.each do |error| %>
            <li class="error-item"> - <%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-container">
      <%= form.label :name, class: 'input-label' %>
      <%= form.text_field :name, class: 'input-field' %>
    </div>

    <div class="button-container">
      <%= form.submit class: 'submit-button' %>
      <%= link_to 'Cancel', :back, class: 'cancel-button' %>
    </div>
  <% end %>
</div>
