<style>
  .room-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }

  .room-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .room-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }

  .room-users {
    font-weight: 600;
    color: white;
  }

  .user-section {
    display: flex;
    gap: 1.25rem;
  }

  .room-users-list,
  .all-users-list {
    padding: 0.5rem;
    border: 1px solid #90cdf4;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 24rem;
  }

  .user-list-title {
    font-weight: 600;
    font-size: 0.875rem;
    color: white;
    text-align: center;
  }

  .user-item {
    padding: 0.25rem 0;
    text-decoration: underline;
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .add-user-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    text-decoration: underline;
  }
</style>


<section class="room-section" id="room_show_<%= room.id %>">
  <div class="room-header">
    <h3 class="room-title"><%= room.name %> - Room</h3>
    <span class="room-users">Users in this room</span>
  </div>

  <section class="user-section">
    <div class="room-users-list">
      <h3 class="user-list-title">Users in this room</h3>
      <% User.all.each do |user| %>
        <% next unless room.users.include?(user) %>
        <div class="user-item">
          <%= user.email %>
        </div>
      <% end %>
    </div>

    <div class="all-users-list">
      <h3 class="user-list-title">All users</h3>
      <% User.all.each do |user| %>
        <% next if room.users.include?(user) %>
        <%= button_to add_user_path, params: { user_id: user, room_id: room }, id: "add_user_#{user.id}", method: :post, class: 'add-user-button' do %>
          <div class="user-item">
            <%= user.email %>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</section>
