<main>
<%= turbo_stream_from 'user_rooms_channel' %>
<%= turbo_stream_from 'room_details_channel' %>

<article class="ventas-compras">
  <div class="botones">
    <button class="ventas">Ventas</button>
    <button class="compras">Compras</button>
  </div>

  <div class="fijados">
    <p class="texto-fijados">Fijados</p>
    <div class="chat-fijado prev-abrir-chat-cliente">
      <div class="contenedor-izq">
        <%= image_tag "Contenido/Imágen.svg" %>
          <div class="nombre-msj">
            <p>Cristina</p>
            <p>Pasame tu númerowe</p>
          </div>
      </div>
        <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
    </div>
  </div>
  
  <%#= turbo_frame_tag 'rooms_controller' do %>
    <div class="demas-chats">
      <p class="texto-demas-chats">Chats</p>
      <div class="dropdown-toggle" id="abrir-lista-clientes"">
        <p id="abrir-lista-clientes">Moto Yamaha T500</p>
        <%#= render 'shared/user_rooms' %>

  <%# end %>

  <div class="lista-clientes" id="lista-clientes">
    <div class="cliente prev-abrir-chat-cliente">
      <div class="caja-izq">
        <%= image_tag "Contenido/Imágen.svg", class: "cliente-img" %>
        <div class="nombre-y-msj">
            <p>Laura</p>
            <p class="mensaje-cliente">Mensaje de prueba de laurqweeeeeeeeeeeeeea</p>
        </div>
      </div>
        <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
    </div>

    <div class="cliente prev-abrir-chat-cliente">
      <div class="caja-izq">
        <%= image_tag "Contenido/Imágen.svg", class: "cliente-img" %>
          <div class="nombre-y-msj">
              <p>Laura</p>
              <p class="mensaje-cliente">Mensaje de prueba de laura</p>
          </div>
      </div>
        <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
    </div>

    <div class="cliente prev-abrir-chat-cliente">
      <div class="caja-izq">
        <%= image_tag "Contenido/Imágen.svg", class: "cliente-img" %>
        <div class="nombre-y-msj">
            <p>Laura</p>
            <p class="mensaje-cliente">Mensaje de prueba de laura</p>
        </div>
      </div>
        <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
    </div>
  </div>
        </div>
    </div>
</article>

<article class="chat">
  <div class="header-chat">
    <div class="cliente-chat">
      <%= image_tag "Contenido/Vendedor.png" %>
      <p class="nombre-vendedor">Pedro Flores</p>
    </div>
    <p class="producto-chat">Moto Yamaha T500</p>
  </div>

  <div class="cuerpo-chat">
    <h4 class="fecha">24 de Julio</h4>

    <div class="tus-mensajes">
      <p class="tu-mensaje">Lorem ipsumulla lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Doloribus dicta cum optio consequatur dolore corrupti a, sed omnis rerum voluptatibus nostrum
          deleniti modi. Perferendis, adipisci molestias vitae ipsum modi sapiente, culpa officia tempore
          asperiores dignissimos voluptate facere ex fugit obcaecati accusantium expedita illum ducimus
          voluptatum sunt minus illo at eos harum non? Placeat, excepturi! Voluptatem facere distinctio
          aspernatur cum doloremque.
      </p>

      <div class="foto-hora-mensaje">
          <%= image_tag "Contenido/Imágen.svg" %>
          <p class="hora-mensaje">6:32 pm</p>
      </div>
    </div>

    <div class="mensajes-vendedor">
      <div class="foto-hora-mensaje-vendedor">
          <%= image_tag "Contenido/Imágen.svg" %>
          <p class="hora-mensaje">6:32 pm</p>
      </div>
      <p class="su-mensaje">Lorempedit. Nulla?</p>
    </div>

    <div class="tus-mensajes">
      <p class="tu-mensaje">Lorem ipsumulla lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Doloribus dicta cum optio consequatur dolore corrupti a, sed omnis rerum voluptatibus nostrum
          deleniti modi. Perferendis, adipisci molestias vitae ipsum modi sapiente, culpa officia tempore
          asperiores dignissimos voluptate facere ex fugit obcaecati accusantium expedita illum ducimus
          voluptatum sunt minus illo at eos harum non? Placeat, excepturi! Voluptatem facere distinctio
          aspernatur cum doloremque.</p>
      <div class="foto-hora-mensaje">
        <%= image_tag "Contenido/Imágen.svg" %>
        <p class="hora-mensaje">6:32 pm</p>
      </div>
    </div>


    <div class="mensajes-vendedor">
      <div class="foto-hora-mensaje-vendedor">
          <%= image_tag "Contenido/Imágen.svg" %>
          <p class="hora-mensaje">6:32 pm</p>
      </div>
      <p class="su-mensaje">Lorempedit. Nulla?</p>
    </div>
  </div>


  <div class="mensajes">
    <input type="text" class="escribir-mensaje-chat" placeholder="Escribir mensaje">
    <%= image_tag "Contenido/Adjuntar.svg", class: "adjuntar" %>
    <%= image_tag "Contenido/Telegram.svg" %>
  </div>
</article>
</main>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get the dropdown toggle and dropdown menu elements
    var dropdownToggle = document.getElementById('abrir-lista-clientes');
    var dropdownMenu = document.getElementById('lista-clientes');

    // Function to toggle dropdown
    function toggleDropdown() {
        dropdownMenu.classList.toggle('show');
    }

    // Event listener for the dropdown toggle
    if (dropdownToggle) {
        dropdownToggle.addEventListener('click', function() {
            toggleDropdown();
        });
    }
});
</script>