<section class="main-chat">
  <article class="buy-or-sale">
    <div class="botones">
      <button class="ventas">Ventas</button>
      <button class="compras">Compras</button>
    </div>
    
    <!---------------------- Pigned Chats ------------------------>
    <div class="fijados">
      <p class="texto-fijados">Fijados</p>
      <div class="chat-fijado prev-abrir-chat-cliente">
        <div class="contenedor-izq">
          <%= image_tag "Contenido/Imágen.svg" %>
            <div class="nombre-msj">
              <p>Cristina</p>
              <p>Pasame tu número</p>
            </div>
        </div>
          <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
      </div>
    </div>

    <h1><%= current_user.first_name %></h1>
    <!------------- De aca para ARRIBA NO INPORTA ----------------->

    <!-------------Chats Rooms ----------------->
    <div class="user-rooms" id="user_<%= current_user.id %>_rooms">
      <div class="demas-chats">
        <p class="texto-demas-chats">Chats</p>

        <div class="dropdown-toggle">
          <% @buyer_rooms.each do |room| %>
            <p id="abrir-lista-clientes"><%= room.product.name %></p>
            <% room.user_rooms.each do |product_chat| %>
              <div class="lista-clientes" id="lista-clientes">
                <div class="cliente prev-abrir-chat-cliente">
                  <div class="caja-izq">
                   <%= image_tag "Contenido/Imágen.svg", class: "cliente-img" %>
                    <div class="nombre-y-msj">
                    <%= render "rooms/payment", room_id: room.id  %>
                      <%= turbo_frame_tag "room_#{room.id}", class: 'room-container' do %>
                        <%= link_to room_path(room), class:"room-name", data: { turbo_frame: 'rooms_controller' } do %>
                          <% room.users.each do |room_user| %>
                            <% next if room_user.id == current_user.id %> 

                            <p style="color: green;"><%= room_user.first_name %></p>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </article>

  <!--------------------------- Chat ---------------------->
  <%= turbo_frame_tag 'rooms_controller' do %>
  <% end %>
</section>

<script>
document.addEventListener("turbo:load", function() {
  var paymentForm = document.getElementById('payment-form');
  var roomDropdownToggle = document.getElementById('abrir-lista-clientes');
  var roomDropdownMenu = document.getElementById('lista-clientes');
  var roomIdInput = document.getElementById('room-id');
  var paymentButton = document.getElementById('payment-button');

  function toggleDropdown() {
    roomDropdownMenu.classList.toggle('show');
  }

  if (roomDropdownToggle) {
    roomDropdownToggle.addEventListener('click', function() {
      toggleDropdown();
    });
  }

  if (paymentForm && roomIdInput && paymentButton) {
    paymentButton.addEventListener('click', function() {
      // Get the selected room ID and update the hidden field
      var selectedRoomId = "1111";
      roomIdInput.value = selectedRoomId;

      // Update the @reference value with the room ID
      var reference = "3b4393bafed398ba1"; // replace with your original logic
      reference = `${reference}-${selectedRoomId}`

      // Recalculate the @signature value
      var amount = "<%= @amount %>";
      var currency = "<%= @currency %>";
      var wompiIntegrity = "<%= @wompi_integrity %>";
      var signature = CryptoJS.SHA256(reference + amount + currency + wompiIntegrity).toString();
      
      // Update the hidden field with the new signature value
      document.getElementById('signature-integrity').value = signature;

      // Submit the form
      paymentForm.submit();
    });
  }
});
</script>
