<main>
<%= turbo_stream_from 'user_rooms_channel' %>
<%= turbo_stream_from 'room_details_channel' %>

<article class="ventas-compras">
  <div class="botones">
    <button class="ventas">Ventas</button>
    <button class="compras">Compras</button>
  </div>
<!-------------Pigned Chats ----------------->
  <div class="fijados">
    <p class="texto-fijados">Fijados</p>
    <div class="chat-fijado prev-abrir-chat-cliente">
      <div class="contenedor-izq">
        <%= image_tag "Contenido/Imágen.svg" %>
          <div class="nombre-msj">
            <p>Cristina</p>
            <p>Pasame tu número</p>
          </div>
      </div>
        <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
    </div>
  </div>

<!-------------Chats Rooms ----------------->
  <div class="user-rooms" id="user_<%= current_user.id %>_rooms">

    <div class="demas-chats">
      <p class="texto-demas-chats">Chats</p>
      <div class="dropdown-toggle" id="abrir-lista-clientes">
      <% @rooms.each do |room| %>
        <%= turbo_frame_tag "room_#{room.id}", class: 'room-container' do %>
        <%= link_to room_path(room), class:"room-name", data: { turbo_frame: 'rooms_controller' } do %>
          <%= room.name %>
        <% end %>
      <% end %>
      <% room.user_rooms.each do |product_chat| %>
        <%#= product_chat.user.first_name %><br>
        <p id="abrir-lista-clientes"><%= product_chat.room.name %></p>


        <!-- I need to move the las to end from the loop under the  list to show the users for each chat room -->
        <%#= turbo_frame_tag 'rooms_controller' do %>

        <div class="lista-clientes" id="lista-clientes">
          <div class="cliente prev-abrir-chat-cliente">
            <div class="caja-izq">
              <%= image_tag "Contenido/Imágen.svg", class: "cliente-img" %>
              <div class="nombre-y-msj">
                  <p><%= product_chat.user.first_name %><br></p>

                  <p class="mensaje-cliente">Mensaje de prueba de laurqweeeeeeeeeeeeeea</p>
              </div>
            </div>
              <%= image_tag "Contenido/Odin/No fijar.svg", class: "fijado" %>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>
</article>
<!--------------------------- Chat ---------------------->
  <%= turbo_frame_tag 'rooms_controller' do %>
  <article class="chat">
    <div class="header-chat">

      <div class="cliente-chat">
        <%= image_tag "Contenido/Vendedor.png" %>
        <p class="nombre-vendedor">Pedro Flores</p>
      </div>

      <p class="producto-chat">Moto Yamaha T500</p>
    </div>
      <%#= render 'shared/user_rooms' %>
      <%#= render 'shared/room', room: room %>

    <div class="cuerpo-chat">
     <h1>Hello world</h1>

      <h4 class="fecha">24 de Julio</h4>

      <div class="tus-mensajes">
        <p class="tu-mensaje">Lorem ipsumulla lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Doloribus dicta cum optio consequatur dolore corrupti a, sed omnis rerum voluptatibus nostrum
            deleniti modi. Perferendis, adipisci molestias vitae ipsum modi sapiente, culpa officia tempore
            asperiores dignissimos voluptate facere ex fugit obcaecati accusantium expedita illum ducimus
            voluptatum sunt minus illo at eos harum non? Placeat, excepturi! Voluptatem facere distinctio
            aspernatur cum doloremque.
        </p>

        <div class="foto-hora-mensaje">
          <%= image_tag "Contenido/Imágen.svg" %>
          <p class="hora-mensaje">6:32 pm</p>
        </div>
      </div>

      <div class="mensajes-vendedor">
        <div class="foto-hora-mensaje-vendedor">
          <%= image_tag "Contenido/Imágen.svg" %>
          <p class="hora-mensaje">6:32 pm</p>
        </div>
        <p class="su-mensaje">Lorempedit. Nulla?</p>
      </div>

      <div class="tus-mensajes">
        <p class="tu-mensaje">Lorem ipsumulla lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Doloribus dicta cum optio consequatur dolore corrupti a, sed omnis rerum voluptatibus nostrum
            deleniti modi. Perferendis, adipisci molestias vitae ipsum modi sapiente, culpa officia tempore
            asperiores dignissimos voluptate facere ex fugit obcaecati accusantium expedita illum ducimus
            voluptatum sunt minus illo at eos harum non? Placeat, excepturi! Voluptatem facere distinctio
            aspernatur cum doloremque.</p>
        <div class="foto-hora-mensaje">
          <%= image_tag "Contenido/Imágen.svg" %>
          <p class="hora-mensaje">6:32 pm</p>
        </div>
      </div>


      <div class="mensajes-vendedor">
        <div class="foto-hora-mensaje-vendedor">
            <%= image_tag "Contenido/Imágen.svg" %>
            <p class="hora-mensaje">6:32 pm</p>
        </div>
        <p class="su-mensaje">Lorempedit. Nulla?</p>
      </div>
  </div>


  <div class="mensajes">
    <input type="text" class="escribir-mensaje-chat" placeholder="Escribir mensaje">
    <%= image_tag "Contenido/Adjuntar.svg", class: "adjuntar" %>
    <%= image_tag "Contenido/Telegram.svg" %>
  </div>
  <% end %>
  </article>
</main>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get the dropdown toggle and dropdown menu elements
    var dropdownToggle = document.getElementById('abrir-lista-clientes');
    var dropdownMenu = document.getElementById('lista-clientes');

    // Function to toggle dropdown
    function toggleDropdown() {
        dropdownMenu.classList.toggle('show');
    }

    // Event listener for the dropdown toggle
    if (dropdownToggle) {
        dropdownToggle.addEventListener('click', function() {
            toggleDropdown();
        });
    }
});
</script>