<!--------------------------- Chat ---------------------->
<%= turbo_frame_tag 'rooms_controller' do %>
  <section class="main-chat">
    <article class="buy-or-sale">
      <!-------------Chats Rooms ----------------->
      <div class="user-rooms" id="user_<%= current_user.id %>_rooms">
        <div class="more-chats">
          <p class="more-chats-text">Chats</p>
          <div class="dropdown-toggle">
            <% @buyer_rooms.each do |room| %>
              <p id="client-list-open"><%= room.product.name %></p>
                      <%= render "rooms/payment", room_id: room.id, style: "display: none;" %>

              <% room.user_rooms.each do |product_chat| %>

                <div class="client-list" id="client-list">
                  <div class="client">
                    <div class="left-box">
                      <%#= image_tag "Contenido/Imágen.svg", class: "client-image" %>

                      <%#= button_tag "Click Me", class: "payment-button", data: { room_id: room.id } %>

                      <div class="name-and-message">
                        <%= turbo_frame_tag "room_#{room.id}", class: 'room-container' do %>
                          <%= link_to room_path(room), class:"room-name", data: { turbo_frame: 'rooms_controller' } do %>
                            <% room.users.each do |room_user| %>
                              <% next if room_user.id == current_user.id %> 

                              <p style="color: green;"><%= room_user.first_name %></p>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  </section>
<% end %>
