<%= turbo_frame_tag 'rooms_controller' do %>
<%= turbo_stream_from 'room_messages_channel' %>

  <main class="main-container">
    <%= render 'shared/side_bar' %>

    <section class="content-container">
      <%= render 'room', room: @room %>

      <div class="messages-container">
        <div class="message-list">
          <div class="message-scroll" id="room_messages_div" class="room_messages_div">
            <% @room.messages.order(:id).each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
        </div>

        <div class="message-form-container">
          <%= render 'messages/form', { room: @room, message: Message.new } %>
        </div>
      </div>
    </section>
  </main>
<% end %>
