<%= turbo_frame_tag 'rooms_controller' do %>
  <%= turbo_stream_from 'room_messages_channel' %>

    <section>
      <div id="room_messages_div" class="room_messages_div">
          <article class="chat">
            <div class="header-chat">
              <div class="client-chat">
                <%= image_tag "Contenido/Vendedor.png" %>
              </div>
                <%= link_to "chats", rooms_path, style: "color: green;"%>

              <p><%= @room.name %></p>
            </div>
            <div class="chat-text">
              <% @room.messages.order(:id).each do |message| %>
                <%= render 'messages/message', message: message %>
              <% end %>
            <div>
            <div class="messages">
              <%= render 'messages/form', { room: @room, message: Message.new } %>
            </div>
          </article>
        </div>
      </div>
    </section>
<% end %>
