<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag "frame1" do %>

  <div class="products" id="products">
    <% @products.each do |product| %>
      <div class="product-item">
        <%= link_to product_path(product), class: "product-link" do %>
          <div class="image">
            <% if product.images.attached? %>
              <%= image_tag product.images.first, class: "product-image", alt: product.name, width: "300", height: "200" %>
            <% else %>
              <div class="card-images">
                <%= image_tag "main-home", class: "product-image", alt: product.name %>
              <div>
            <% end %>
          </div>
          <div class="header-item">
            <h4 style="color: #000; background-color: #fff;"><%= product.name %></h4>
            <p style="color: #333;">Medellin Colombia</p>
          </div>
          <div class="precio-info">
            <div class="price-information">
              <span style="color: #333; background-color: #fff;"><%= number_to_currency(product.price) %></span>
            </div>
            <p><%= link_to "Show this product", product %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
