<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Odin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Compra y Vende en Línea con Odin Descubre un mundo de oportunidades. Compra y vende fácilmente con Odin. Encuentra el auto de tus sueños, el negocio perfecto y mucho más. Conéctate con compradores y vendedores confiables. Tu próxima aventura comienza aquí.  ">
    <%= favicon_link_tag 'favicon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
      
    <%= render 'shared/navbar' %>


    <main class="main-container">
        <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
